@import "mixins.less";

head, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
}

#root{
  position: relative;
}

#page {
  overflow: auto;
  min-height: 800px;
  padding-top:80px;
}